<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="com.eenet.user.AdminUserInfo" type="com.eenet.user.AdminUserInfo" />
		<typeAlias alias="com.eenet.user.EndUserInfo" type="com.eenet.user.EndUserInfo" />
		<typeAlias alias="com.eenet.authen.BusinessApp" type="com.eenet.authen.BusinessApp" />
		<typeAlias alias="com.eenet.authen.AdminUserLoginAccount" type="com.eenet.authen.AdminUserLoginAccount" />
		<typeAlias alias="com.eenet.authen.EndUserLoginAccount" type="com.eenet.authen.EndUserLoginAccount" />
		<typeAlias alias="com.eenet.authen.AdminUserCredential" type="com.eenet.authen.AdminUserCredential" />
		<typeAlias alias="com.eenet.authen.EndUserCredential" type="com.eenet.authen.EndUserCredential" />
		<!-- <typeAlias alias="com.eenet.authen.EENetEndUserCredential" type="com.eenet.authen.EENetEndUserCredential" />
		<typeAlias alias="com.eenet.authen.EENetEndUserLoginAccount" type="com.eenet.authen.EENetEndUserLoginAccount" />
		<typeAlias alias="com.eenet.authen.ThirdPartySSOAPP" type="com.eenet.authen.ThirdPartySSOAPP" /> -->
	</typeAliases>
	<mappers>
		<!--公共SQL配置-->
        <mapper resource="conf/base.Oracle.mbt.xml" />
        <mapper resource="conf/base.PostgreSQL.mbt.xml" />
        <mapper resource="conf/base.MySQL.mbt.xml" />
        <!-- 业务模块 -->
        <mapper resource="DBMapping/AdminUserInfo.xml" />
		<mapper resource="DBMapping/EndUserInfo.xml"/>
 		<mapper resource="DBMapping/BusinessApp.xml" />
		<mapper resource="DBMapping/AdminUserLoginAccount.xml"/>
		<mapper resource="DBMapping/EndUserLoginAccount.xml"/>
		<mapper resource="DBMapping/AdminUserCredential.xml"/>
		<mapper resource="DBMapping/EndUserCredential.xml"/>
		<!-- <mapper resource="DBMapping/EENetEndUserCredential.xml" />
		<mapper resource="DBMapping/EENetEndUserLoginAccount.xml" />
		<mapper resource="DBMapping/ThirdPartySSOAPP.xml" /> -->
	</mappers>
</configuration>